@import "tailwindcss";

@theme {
  --color-primary: #c11119;
  --color-darkBlue: #0c132d;
  --color-gridColorTop: #1a2144;
  --color-gridColorBtm: #1e172d;
  --color-FAQBg: #414141;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.headline {
  @apply p-3  font-semibold text-2xl text-white mt-10;
}
.contant-width {
  @apply w-[95%] sm:w-[90%] md:w-[80%] mx-auto;
}
.footer ul li a {
  @apply underline text-[14px] font-semibold text-gray-400;
}
