@import "tailwindcss";

@theme {
  --color-primary:#C11119;
  --color-darkBlue:#0C132D;
  --color-gridColorTop:#1A2144;
  --color-gridColorBtm:#1E172D;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.headline {
  @apply p-3  font-semibold text-2xl text-white mt-10;
}
.contant-width {
  @apply w-[95%] sm:w-[90%] md:w-[80%] mx-auto;
}